$color-main: #27ae60;
$color-support: #c0392b;
$color-light: #fff;
$color-dark: #2c3e50;

$transition: 1s all;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    color: $color-dark;
    font-size: 16px;
}

// global

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  border: 2px solid;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  background-position: 100% 0;
  background-size: 300%;
  margin-top: auto;

  &:hover {
      background-position: 0 100%;
      transition: $transition;
  }

}


.btn-one {
  color: $color-support;
  border-color: $color-support;
  background-image: linear-gradient(90deg, $color-support 50%, transparent 50%);

  &:hover {
      color: $color-light;
      border-color: $color-light;
  }
}

.btn-two {
  color: $color-main;
  border-color: $color-main;
  background-image: linear-gradient(90deg, $color-dark 50%, transparent 50%);

  &:hover {
      color: $color-light;
      border-color: $color-light;
  }
}

.container {
  max-width: 1180px;
  margin: auto;
}

section {
  padding: 50px 0;
  margin: 0 auto;
}

//splash
.splash {
  height: 100vh;
  background: url(https://images.pexels.com/photos/220051/pexels-photo-220051.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    position: absolute;
    content:"";
    background-color: $color-dark;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  h1 {
    position: absolute;
    color: $color-main;
    font-size: 72px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


//game


table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 100px;
}

td {
    width: 100px;
    font-size: 80px;
}

td:not(:first-of-type){
    border-left: solid 3px $color-support;
}

tr:not(:first-of-type){
    border-top: solid 3px $color-support;
}

.hidden {
  display: none;
}

.circle {
    position: relative;

    &::before{
        content: "\f111";
        font-family: "Font Awesome 6 Free";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.xmark {
    position: relative;

    &::before{
        content: "\58";
        font-family: "Font Awesome 6 Free";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.boardsize {
  width: fit-content;
}

.messages {
  font-size: 25px;
  color: $color-main;
  padding: 0 30px;
}

//rules

.rules {
  ul {
    width: fit-content;
    margin: auto;
  }

  li {
    text-align: left;
  }
}
//footer

footer {
  font-size: 12px;
  color: $color-main;

  i::before {
    padding: 0 5px;
  }
}
